<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Receta</title>
</head>
<body>

<form th:object="${recipe}" th:action="@{/saveRecipe/}" method="post"  >

    <input type="hidden" th:field="*{id}">

Recipe Name: <input type="text" th:field="*{description}">
    <br>
    Prep Time: <input type="text" th:field="*{prepTime}">
    <br>

    Cook Time: <input type="text" th:field="*{cookTime}">
    <br>

    Directions: <textarea th:field="*{directions}" rows="3"></textarea>
    <br>
    Category: <select th:field="*{difficulty}">
    <option th:each="dificultad : ${T(Franciscobusleiman.recipes.recipes.domain.Difficulty).values()}"
    th:value="${dificultad}"
    th:text="${dificultad}"></option>


</select>
    <br>
    Notes: <input type="text" th:field="*{notes.notes}">
    <br>


<input type="submit" value="enviar">



</form>

</body>
</html>