<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredients</title>
</head>
<body>



<div th:align="center">
    <h1 th:text="${recipe.getDescription()}"></h1>
    <br>


    <table width="300">
    <tr th:each="ingredient : ${recipe.getIngredients()}">
        <td th:text="${ingredient.amount}"></td>
        <td th:text="${ingredient.unitOfMeasure.uom}"></td>
        <td th:text="${ingredient.description}"></td>
        <td><a th:href="@{'/recipe/' + ${recipe.getId()} + '/ingredient/'   + ${ingredient.id} + '/showIngredient'} ">Show</a></td>
        <td><a th:href="@{'/recipe/' + ${recipe.getId()} + '/ingredient/'   + ${ingredient.id} + '/updateIngredient'}">Update</a></td>
        <td><a th:href="@{'/recipe/' + ${recipe.getId()} + '/ingredient/'   + ${ingredient.id} + '/deleteIngredient'}">Delete</a></td>
    </tr>


</table>

<br>
<a th:href="@{'/recipe/' + ${recipe.getId()} + '/newIngredient'}" > NEW INGREDIENT</a>
</div>

</body>
</html>