<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guacamole</title>
</head>
<body>
<h1>Guacamole</h1>

Prep Time: <p th:text="${guacamole.getPrepTime()}"></p>
Cook Time: <p th:text="${guacamole.getCookTime()}"></p>
Difficulty: <p th:text="${guacamole.getDifficulty()}"></p>

Categories: <ul>
    <li th:each="categoria : ${guacamole.getCategories()}" th:text="${categoria.getCategoryName()}"></li>
</ul>

Ingredients: <ul>
    <li  th:each="ingrediente : ${guacamole.getIngredients()}" th:text="${ingrediente.getDescription()} + ' ' +  ${ingrediente.getAmount()} + ' ' + ${ingrediente.getUnitOfMeasure().getUom()}"></li>
</ul>

Directions: <p th:text="${guacamole.getDirections()}"></p>
Notes: <p th:text="${guacamole.getNotes().getNotes()}"></p>
</body>
</html>