<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recetas</title>
</head>
<body>

<h1 th:text="#{recipe.food}">  </h1>
<table width="500">
    <tr th:each="recipe : ${recipes}">

        <td th:text="${recipe.getId()}"></td>
        <td th:text="${recipe.getDescription()}"></td>
        <td><a th:href="@{'/recipe/'+ ${recipe.getId()} + '/show'}">show</a> </td>
        <td><a th:href="@{'/recipe/' + ${recipe.getId()} + '/update'}">update</a> </td>
        <td><a th:href="@{'/recipe/' + ${recipe.getId()} + '/delete'}">delete</a> </td>

    </tr>
</table>

<br>
<br>
<br>

<h4><a th:href="@{recipe/newRecipe}">NEW RECIPE</a></h4>
</body>
</html>