<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recetas</title>
</head>
<body>

<h1> Recetas </h1>
<table width="500">
    <tr th:each="recipe : ${recipes}">

        <td th:text="${recipe.getId()}"></td>
        <td th:text="${recipe.getDescription()}"></td>
        <td><a th:href="@{'show/' + ${recipe.getId()}}">show</a> </td>
        <td><a th:href="@{'update/' + ${recipe.getId()}}">update</a> </td>
        <td><a th:href="@{'delete/' + ${recipe.getId()}}">delete</a> </td>

    </tr>
</table>

<br>
<br>
<br>

<h4><a th:href="newRecipe">NEW RECIPE</a></h4>
</body>
</html>